In [101]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [102]:
from sklearn.feature_extraction.text import CountVectorizer

In [103]:
CSV_PATH = os.path.join('website_classification.csv')
ws = pd.read_csv(CSV_PATH)

In [104]:
ws.head()

,Unnamed: 0,website_url,cleaned_website_text,Category
0,0,https://www.booking.com/index.html?aid=1743217,official site good hotel accommodation big sav...,Travel
1,1,https://travelsites.com/expedia/,expedia hotel book sites like use vacation wor...,Travel
2,2,https://travelsites.com/tripadvisor/,tripadvisor hotel book sites like previously d...,Travel
3,3,https://www.momondo.in/?ispredir=true,cheap flights search compare flights momondo f...,Travel
4,4,https://www.ebookers.com/?AFFCID=EBOOKERS-UK.n...,bot create free account create free account si...,Travel

In [105]:
ws.shape

(1408, 4)

In [106]:
ws.drop(['Unnamed: 0'], axis =1, inplace = True)
ws.head()

,website_url,cleaned_website_text,Category
0,https://www.booking.com/index.html?aid=1743217,official site good hotel accommodation big sav...,Travel
1,https://travelsites.com/expedia/,expedia hotel book sites like use vacation wor...,Travel
2,https://travelsites.com/tripadvisor/,tripadvisor hotel book sites like previously d...,Travel
3,https://www.momondo.in/?ispredir=true,cheap flights search compare flights momondo f...,Travel
4,https://www.ebookers.com/?AFFCID=EBOOKERS-UK.n...,bot create free account create free account si...,Travel

In [107]:
ws.isna().sum()

website_url             0
cleaned_website_text    0
Category                0
dtype: int64

In [108]:
ws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408 entries, 0 to 1407
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   website_url           1408 non-null   object
 1   cleaned_website_text  1408 non-null   object
 2   Category              1408 non-null   object
dtypes: object(3)
memory usage: 33.1+ KB

In [109]:
ws.shape

(1408, 3)

In [110]:
ws['cleaned_website_text'] = ws['cleaned_website_text'].str.replace(r'[^A-Za-z\s]', ' ', regex=True)

In [111]:
vectorizer = CountVectorizer()

In [112]:
text_counts = vectorizer.fit_transform(ws['cleaned_website_text'])

In [113]:
text_counts.shape

(1408, 58038)

In [114]:
columns = vectorizer.get_feature_names_out()

In [115]:
columns

array(['aa', 'aaa', 'aaaannnnnd', ..., 'zyt', 'zz', 'zzp'], dtype=object)

In [116]:
df_encoded = pd.DataFrame(text_counts.toarray(), columns=vectorizer.get_feature_names_out())

In [117]:
df_encoded

,aa,aaa,aaaannnnnd,aaaargh,aaacn,aaap,aab,aabaad,aac,aachen,...,zwillinger,zx,zygote,zykowej,zynixmedia,zynn,zypping,zyt,zz,zzp
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [118]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408 entries, 0 to 1407
Columns: 58038 entries, aa to zzp
dtypes: int64(58038)
memory usage: 623.5 MB

In [122]:
df_encoded.sum()

aa            4
aaa           8
aaaannnnnd    1
aaaargh       1
aaacn         1
             ..
zynn          4
zypping       2
zyt           1
zz            1
zzp           1
Length: 58038, dtype: int64

In [123]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df_encoded)

# Apply PCA to reduce dimensionality
pca = PCA(n_components=12)  # Set the number of components
X_pca = pca.fit_transform(X_scaled)

NameError: name 'k' is not defined